{% extends "catalog/base.html" %}
{% block content %}
  <div>
      <h1><strong>Author Details:</strong></h1>
  <p><strong>First Name: </strong> {{ author.first_name }}</p>
  <p><strong>Last Name: </strong>{{ author.last_name }}</p>
  <p><strong>Date of Birth: </strong> {{ author.date_of_birth }}</p>
  <p><strong>Date of Death: </strong> {{ author.date_of_death }}</p>

  </div>
    <div>
    {% if author.author_image %}
        <img src="{{ author.author_image.url }}">
    {% endif %}
    </div>
  <div>
  {% if author_list %}
  <h1><strong>Books:</strong></h1>
  {% for book in author.book_set.all %}
        <li>
            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
        </li>
      {% if author not in author.bookinstance_list %}
          <p>No books available for this author.</p>
      {% endif %}
  {% endfor %}
      {% else %}
        <p>No Books available for this author</p>
  {% endif %}
  </div>
    <div>
    <a href="{% url 'author_list'%}"> <button type="button" class="btn btn-success"> >Author List</a> </button>
    </div>
{% endblock %}